alembic==1.9.2
boto3==1.26.47
botocore==1.29.129
Flask==2.2.2
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-Migrate==4.0.2
Flask-SQLAlchemy==3.0.2
psycopg2-binary==2.9.5
PyJWT==2.6.0
gunicorn == 21.2.0
python-dotenv==0.21.1
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
SQLAlchemy==2.0.0
sqlparse==0.4.2
virtualenv==20.23.1
Werkzeug==2.2.2
